<!DOCTYPE html>
<html>

<script src="../static/js/script.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Santa Barbara Weather Forecast</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link rel="stylesheet" href="../static/css/styles.css">

</head>

<body class="homepage">

    <div class="imagebanner">
        <h1 class="banner-text">Santa Barbara Weather Forecast</h1>
        

    </div>
            
    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks" id="defaultOpen" onclick="openTab(event, 'AirTemperature')">Air Temperature</button>
        <button class="tablinks" onclick="openTab(event, 'WindSpeed')">Wind Speed</button>
        <button class="tablinks" onclick="openTab(event, 'WaterTemperature')">Water Temperature</button>
    </div>
    
    <!-- Tab content -->
    <div id="AirTemperature" class="tabcontent">
        <h3>Air Temperature</h3>
        <p>Air temperature forecast based on offshore bouy data  </p>
        <div>
            <canvas class="weather-chart" id="myChart1">
        </div>
        <script src="../static/js/AirTempChart.js"></script>
    </div>
    
    <div id="WindSpeed" class="tabcontent">
        <h3>Wind Speed</h3>
        <p>Wind speed forecast coming soon. </p>
        <div>
            <canvas class="weather-chart" id="myChart2">
        </div>
        <script src="../static/js/WindSpeedChart.js"></script>
    </div>


    <div id="WaterTemperature" class="tabcontent">
        <h3>Water Temperature</h3>
        <p>Water temperature forecast coming soon.  </p>
        <div>
            <canvas class="weather-chart" id="myChart3">
        </div>
        <script src="../static/js/WaterTempChart.js"></script>
    </div>
    


</body>

</html>