<!DOCTYPE html>
<html>

<script src="../static/js/script.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Santa Barbara Weather Forecast</title>

     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <link rel="stylesheet" href="../static/css/styles.css">

</head>

<body style="background-color: SlateBlue;color:white">

    <div class="imagebanner">
    </div>

    <h1 Weather Forecast></h1>
    
    <span id="result">?</span>
      
    <div>
        <canvas id="myChart2" style="width:100%;max-width:600px">
    </div>

    <script src="../static/js/tempChart.js"></script>

    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>


</body>

</html>